/* Common styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    gap: 20px;
}

.grid-two-cols {
    grid-template-columns: 1fr 1fr;
}

.section-hero {
    padding: 80px 0;
}

/* Hero content styles */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content p {
    font-size: 18px;
    color: #666;
}

.hero-content h1 {
    font-size: 36px;
    margin: 20px 0;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Hero image styles */
.hero-image img {
    max-width: 100%;
}

/* Button styles */
.btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}


/* Media Queries */
@media (max-width: 768px) {
    .grid-two-cols {
        grid-template-columns: 1fr;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .section-hero {
        padding: 60px 0;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .btn-group {
        flex-direction: column;
    }

    .btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
}